@use '~font-awesome/scss/font-awesome.scss' with ( //
  $fa-font-path: '/fonts'
)

@use '~bulma/bulma.scss'

:root 
  --bulma-primary-h: 42deg
  --bulma-primary-l: 52%
  --bulma-link-h: 258deg
  --bulma-success-h: 113deg
  --bulma-warning-h: 30deg
  --bulma-warning-l: 57%
  --bulma-danger-l: 52%
  --bulma-scheme-s: 8%

.fixed-footer 
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  text-align: center
  padding: 1rem

.content ul
  margin-top: 0

.card-content
  padding: 0.5rem 1.0rem 2.0rem 1.0rem